#!include:.gitignore

# Ignore the notebooks folder.
notebooks/**

# Except for the folder itself.
!notebooks/

# And the processing notebooks in the folder.
!notebooks/ProcessObservation.ipynb
!notebooks/ProcessFITS.ipynb
