sudo: required
dist: xenial
language: python
python:
  - "3.6"
cache:
  - pip
env:
  - POCS=/var/panoptes/POCS PANDIR=/var/panoptes
before_install:
    - sudo mkdir -p /var/panoptes && sudo chmod 777 /var/panoptes
    - mkdir -p $PANDIR/POCS
    - mkdir -p $PANDIR/logs
    - pip install coveralls
    - pip install -U pip setuptools
install:
  - cd $TRAVIS_BUILD_DIR
  - pip install -r requirements.txt
  - pip install .
script:
  - python setup.py test
after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then
        bash <(curl -s https://codecov.io/bash);
    fi
deploy:
  provider: pypi
  username: panoptes
  password:
    secure: xXltA7ff+ut0ZhFd3N4tTe9GeqiP2dURZGYhKyvmxD7oiWXpriGSP3Xnw1290/YNPDPpXGumxBUOUS1I7Xi9QkCK3ytYUghorSVX2A7xpbNFFWND+EX68LrywvkjI4vw+BKtF9HuYxQJcNYnMS2JG0U+R2b8tdyY/djIAABCSEiVqcoznt8O0V6V+e+cjwpejXHtm6H3aiwp+k17vBXk6OlRfl9g3B2yq9CUl+dbO070RHGiRd/Cr2WrMye6/SZ7iK00weITZ102mIuRtgyVk+pPo0O+kdPIk6tqLqRkm63bVsBz8HvEE+2S3IlhMg4X9eRB0Ou1dBMag86MKAdE24LdRNh80rF/xQYgFnxYhwNuGNE7gVALOdc7SuQdz0h8WAVo01PCO9ZpbMnLlirP+nTl1d3KQSgrl2nsZZ8hAFySbGqlY3WvV5pL/qGe2GqJ0KrTamCXQojfTjQnD7hQ5pMsd41fOPeuZEGOkM2T+XBQOELon0aXUj9i1v2+sbx/dkpdpIZgOzpmYjNP8n+qo3Q++5mmgM+ftqUN0bRwqvcDKIQ0esd/tqXrgWjn7eZALWRQX6HHwxg5p5BH1vC1Ymwpa0vvVGgcbwxMjCTdQ54ocZ6Hib7UNE9LYb6UZy0Q/NeCP/xveUlLpshnuaWXkvkfnms4WU8QV8wXig5R2Tw=
  distributions: sdist bdist_wheel
  on:
    branch: master
