sudo: required
language: python
python:
  - "3.6"
cache:
  - pip
env:
  - POCS=/var/panoptes/POCS PANDIR=/var/panoptes
before_install:
    - sudo mkdir /var/panoptes && sudo chmod 777 /var/panoptes
    - mkdir $PANDIR/POCS
    - mkdir $PANDIR/logs
    - pip install coveralls
    - pip install -U pip
install:
  - cd $TRAVIS_BUILD_DIR
  - pip install -r requirements.txt
  - python setup.py install
script:
  - python setup.py test
after_success:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.6* ]]; then
        bash <(curl -s https://codecov.io/bash);
    fi